<!DOCTYPE html>
<html>
  <body>
    <form action="/SetMode" method="POST">
      <p>
        <div class="form-group">
          <select name="mode" class="form-control">
            <option disabled selected> Select Mode </option>
            <option value="train">No control from Rpi, only RC</option>
            <option value="steer">Control steering only from RPi</option>
            <option value="test">Control throttle only from RPi</option>
            <option value="run">Control steering and throttle from RPi</option>
          </select>
          <input type="submit" name="Submit" value="Select" style="height: 1.5em; width: 5em" >
        </div>
      </p>
      <p>
        <button  type="submit" name="Submit" value="Start">Start the car</button>
        <button  type="submit" name="Submit" value="Stop">Stop the car</button>
      </p>
    </form>
  </body>
</html>
